root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{vala,vapi,gs,metadata}]
indent_style = space
indent_size = 4

[Makefile.am]
indent_style = tab

[meson.build]
trim_trailing_whitespace = true

[*.{json,yaml,yml}]
indent_style = space
indent_size = 2

[{build,dist,build-native,build-tests,builddir,build-flatpak,build-debug,}/**]
unset = true
