# Temporary build files.
/_build/
/.flatpak-builder/
/.flatpak/
/build/
/build-appimage/
/build-dir/
/build-flatpak/
/build-native/
/build-native-debug/
/build-tests/
/builddir/
/dist/
/src/translatables.vala
/tmp/

# Python caches.
__pycache__/
*.py[cod]

# Miscellaneous.
/.idea/
/.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
/gdb.sh
/com.vysp3r.ProtonPlus.flatpak
