# Temporary build files.
buildDir/
builddir/
_build/
.flatpak-builder/
.flatpak/
build-dir/
build-flatpak/
build-native/
build-native-debug/
build-native-debug
build/
build-appimage/
dist/
/src/translatables.vala
/tmp

# Miscellaneous.
.idea/
.vscode/
gdb.sh
com.vysp3r.ProtonPlus.flatpak