html,
body,
main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

body {
    text-align: center;
    padding-top: 15px;
}

header {
    margin-bottom: auto;
}

footer {
    margin-top: auto;
    padding-bottom: 25px;
}

* {
    margin: 0px;
}

.description {
    margin-top: 15px;
}

.screenshots {
    margin-top: 15px;

    img {
        max-height: 650px;
        max-width: 100%;
    }
}

.features {
    h2,
    .accordion {
        margin-bottom: 15px;
    }

    .list {
        margin-bottom: 15px;
    }
}

.download {
    h2 {
        margin-bottom: 15px;
    }

    h3 {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

.links {
    margin-top: 15px;
}

.copyright {
    margin-top: 20px;
}

.list {
    list-style-type: none;
    padding-left: 0px;

    li:not(:last-child) {
        margin-bottom: 10px;
    }
}

.accordion {
    cursor: pointer;
    padding: 18px;
    width: auto;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border-radius: 15px;
}

.panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
