.sidebar-row {
  padding: 7px;
}

.dialog-list {
  background: transparent;
}

.dialog {
  padding: 10px;
}

.green {
  color: #82c91e;
}

.blue {
  color: #228be6;
}

.purple {
  color: #be4bdb;
}

.orange {
  color: #fd7e14;
}

.red {
  color: #fa5252;
}