.steamos {
  --window-bg-color: #1a1f24;
  --window-fg-color: #ffffff;
  --view-bg-color: #212429;
  --view-fg-color: #ffffff;
  --headerbar-bg-color: #1a1f24;
  --headerbar-fg-color: #ffffff;
  --card-bg-color: #212429;
  --card-fg-color: #ffffff;
  --accent-color: #1a9fff;
  --accent-bg-color: #1a9fff;
  --accent-fg-color: #ffffff;
  --destructive-color: #ff4545;
  --destructive-bg-color: #ff4545;
  --destructive-fg-color: #ffffff;
  --popover-bg-color: #212429;
  --popover-fg-color: #ffffff;
  --dialog-bg-color: #1a1f24;
  --dialog-fg-color: #ffffff;
}

.oled {
  --window-bg-color: #000000;
  --window-fg-color: #ffffff;
  --view-bg-color: #000000;
  --view-fg-color: #ffffff;
  --headerbar-bg-color: #000000;
  --headerbar-fg-color: #ffffff;
  --card-bg-color: #161616;
  --card-fg-color: #ffffff;
  --accent-color: #3584e4;
  --accent-bg-color: #3584e4;
  --accent-fg-color: #ffffff;
  --destructive-color: #ff4545;
  --destructive-bg-color: #ff4545;
  --destructive-fg-color: #ffffff;
  --popover-bg-color: #161616;
  --popover-fg-color: #ffffff;
  --dialog-bg-color: #000000;
  --dialog-fg-color: #ffffff;
}

.dialog-list {
  background: transparent;
}

.p-10 {
  padding: 10px;
}

.green {
  color: #82c91e;
}

.blue {
  color: #228be6;
}

.purple {
  color: #be4bdb;
}

.orange {
  color: #fd7e14;
}

.red {
  color: #fa5252;
}

.apply-button {
  color: var(--accent-blue);
}

.donate-button, .clear-button {
  color: var(--accent-red);
}

.list-header {
  padding: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 1px solid @card_shade_color;
  background-color: @card_bg_color;
  box-shadow: none;
}

.list-header entry {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

.list-content {
  box-shadow: none;
}

.list-content,
.list-content > row:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.card {
  border-radius: 12px;
}

.card.transparent-card {
  background-color: transparent;
}

.launchers-popover-list > row:not(:last-child) {
  margin-bottom: 10px;
}

flowboxchild {
  background-color: transparent;
}

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-3px); }
}

.downloads-attention viewswitcher button:nth-child(3) image, .bounce-animation image {
  animation: bounce 1s infinite ease-in-out;
}